@inherits LayoutComponentBase
<TopNavMenu></TopNavMenu>
<main>
    @Body
</main>

@* <footer class="text-center p-3 mt-3">
    &copy; David Bellerose 2024
</footer> *@
<div class="footer-container">
    <div class="footer-item">
        <span>&copy;2024</span> &nbsp;David Bellerose |&nbsp;
        <a class="ms-2" href="https://davidbellerose.com/privacy.html" target="_blank">Privacy</a> &nbsp;|&nbsp;
        <a class="ms-2" href="https://davidbellerose.com/terms.html" target="_blank">Terms & Conditions</a> &nbsp;|&nbsp;
        <a class="ms-2" href="https://davidbellerose.com/cookies.html" target="_blank">Cookie Policy</a>
    </div>
    <div class="footer-item">
        <img src="images/dblogo-ai.png" height="40" alt="David Bellerose Logo">
    </div>
    <div class="footer-item">
        <a href="https://www.linkedin.com/in/david-bellerose" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.davidbellerose.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-briefcase-fill"></i>
        </a>
        <a href="https://www.davidbellerose.com/#contact" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope"></i></a>
        <a href="https://twitter.com/DavidEBellerose" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i></a>
        <a href="https://github.com/davidbellerose" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
    </div>
</div>