main{
    flex: 1 0 auto;
}

/*footer {
    flex-shrink: 0;
    background-color: var(--light-color);
}*/


/*****************************************************************************************
	
	FOOTER                                                                  FOOTER

*****************************************************************************************/

.footer {
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.footer {
    width: 100%;
    z-index: 1111;
    flex-shrink: 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    grid-gap: 10px;
    padding: 0.8rem 0;
    position: static;
    bottom: 0;
    background-color: var(--light-color);
    color: var(--head-color);
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1px solid var(--head-color);
    border-top: 1px solid var(--head-color);
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

    .footer-item a, .footer-item a:visited, .footer-item a:active, .footer-item a:focus {
        text-decoration: none;
        color: var(--head-color);
    }

        .footer-item a i {
            color: var(--head-color);
            font-size: 1.8rem;
            opacity: 0.8;
        }

    .footer-item span {
        color: var(--head-color);
    }

    .footer-item a i:hover {
        opacity: 1;
    }

    .footer-item:nth-child(1) {
        flex-wrap: wrap;
    }

    .footer-item:nth-child(1) a {
        opacity: 0.7;
    }

.footer-item:nth-child(1) a:hover {
    opacity: 1;
}

.footer-item:nth-child(2) {
    justify-content: center;
}

.footer-item:nth-child(3) {
    justify-content: end;
}

    .footer-item:nth-child(3) a {
        padding: 0 1rem;
        color: #d083cf;
    }

@media ( max-width: 755px ) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .footer-item:nth-child(1) {
            order: 3;
            grid-column: 3 / 1;
        }

        .footer-item:nth-child(2) {
            order: 2;
            grid-column: 3 / 1;
        }

        .footer-item:nth-child(3) {
            order: 1;
            grid-column: 3 / 1;
            justify-content: center;
        }
}